<!DOCTYPE html>
<html>
<head>
  <title>FrappCloud</title>
  
  <!-- Mobile viewport optimized -->
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="css/reset.css"></link>
  <link rel="stylesheet" href="css/main.css"></link>
  <link rel="stylesheet" href="css/header.css"></link>
  <script src="js/lib/jquery-1.7.js"></script>
  <script src="js/lib/jquery.infinitescroll.min.js"></script>
  <script src="js/lib/underscore.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="js/lib/backbone.localStorage.js"></script>
  <script src="//connect.soundcloud.com/sdk.js"></script>
  <script src="js/lib/api.js"></script>
</head>

<body id="frappcloud">
  <header id="header">
    <h1>FrappCloud</h1>
    <p>Create and manage your playlists. Locally.</p>
    <nav id="tabs">
      <ul>
        <li class="current"><a href="#playlists-container">Playlists</a></li>
        <li><a href="#search-container">Search</a></li>
        <li><a href="#about-container">About</a></li>
      </ul>
    </nav>
  </header>
  <article id="main" role="main">

    <section id="playlists-container">
      <form id="create-playlist" class="box playlist-form">
        <dl>
          <dt><label for="create-pl-title">Title</label></dt>
          <dd><input type="text" name="title" placeholder="Title of your playlist" maxlength="70"></dd>
          <dt><label for="create-pl-description">Description</label></dt>
          <dd><textarea name="description" placeholder="Describe your playlist in few words"></textarea></dd>
        </dl>
        <button type="submit">Create Playlist</button>
      </form>

      <ul id="playlists">
        <!-- will load template -->
      </ul>
    </section>

    <section id="search-container" style="display: none">
      <form id="search">
        <label for="search-term">Search</label>
        <input id="search-term" type="text" placeholder="Search your tracks!">
        <button class="btn-ico search" type="submit"><span>Search</span></button>
      </form>
      <ul id="search-results">
        <!-- will load template -->
      </ul>
    </section>

    <section id="about-container" style="display: none">
      <h2>About FrappCloud</h2>
      <p>The application has been developed with backbone.js</p>
    </section>

  </article>

  <script type="text/template" id="playlist-template">
    <article class="playlist">
      <div class="view">
        <button class="btn-ico play play-list"><span>Play</span></button>
        <button class="btn-ico edit"><span>Edit Playlist</span></button>
        <button class="btn-ico destroy destroy-playlist"><span>Delete Playlist</span></button>
        <h2><%= title %></h2>
        <p><%= description %></p>
      </div>
      <form class="box edit-playlist playlist-form">
        <dl>
          <dt><label>Title</label></dt>
          <dd><input type="text" name="title" value="<%= title %>" maxlength="70"></dd>
          <dt><label>Description</label></dt>
          <dd><textarea name="description"><%= description %></textarea></dd>
        </dl>
        <button type="submit">Edit Playlist</button>
      </form>
      <ul class="tracks"></ul>
    </article>
  </script>

  <script type="text/template" id="search-result-template">
    <article class="track search-result-item">
      <div class="box controls-bar">
        <form class="add-to-playlist">
          <select class="select-playlist"></select>
          <button class="btn-ico add"><span>Add</span></button>
        </form>
        <div class="play-title">
          <button class="btn-ico play" href="/tracks/<%= id %>"><span>Play</span></button>
          <strong><%= title %></strong>
          <a target="_blank" href="<%= permalink_url %>">(Permalink)</a>
        </div>
      </div>
      <output class="embedded-player"></output>
    </article>
  </script>

  <script type="text/template" id="track-template">
    <article class="track">
      <div class="box controls-bar">
        <button class="btn-ico destroy destroy-track"><span>Remove Track</span></button>
        <div class="play-title">
          <button class="btn-ico play" href="/tracks/<%= track_id %>"><span>Play</span></button>
          <strong><%= title %></strong>
          <a target="_blank" href="<%= permalink_url %>">(Permalink)</a>
        </div>
      </div>
      <output class="embedded-player"></output>
    </article>
  </script>
  
  <script src="js/track.js"></script>
  <script src="js/playlist.js"></script>
  <script src="js/frappcloud.js"></script>
  <script>
    //instantiating application
    var frapp = new FrappCloud;
  </script>
</body>
</html>