<!DOCTYPE html>
<html>
<head>
  <title>FrappCloud</title>
  <script src="js/lib/jquery-1.7.js"></script>
  <script src="js/lib/underscore.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="js/lib/backbone.localStorage.js"></script>
  <script src="//connect.soundcloud.com/sdk.js"></script>
</head>

<body>
  <article id="frappcloud">
    <header>
      <h1>FrappCloud</h1>
      <h2>Create and manage your playlists</h2>
    </header>
    
    <section id="search-container">
      <input type="text" placeholder="Search your tracks!">
      <ul id="search-results">
        <!-- will load template -->
      </ul>
    </section>
    
    <section id="playlists-container">
      <form id="create-playlist">
        <input type="text" name="title" placeholder="Title of your playlist">
        <textarea name="description" placeholder="Describe your playlist in few words"></textarea>
        <input type="text" name="tracks">
        <button type="submit">Create Playlist</button>
      </form>

      <ul id="playlists">
        <!-- will load template -->
      </ul>
    </section>
  </article>

  <script type="text/template" id="playlist-template">
    <article>
      <div class="view">
        <h3><%= title %></h3>
        <p><%= description %></p>
      </div>
      <div class="edit">
        <form class="edit-playlist">
          <h3><input type="text" name="title" value="<%= title %>"></h3>
          <p><textarea name="description"><%= description %></textarea></p>
          <button type="submit">Edit Playlist</button>
        </form>
      </div>
      <ul>
        <%= tracks %>
      </ul>
      <a class="destroy">Delete Playlist</a>
    </article>
  </script>

  <script type="text/template" id="track-template">
    <article>
      <h4><%= title %></h4>
      <a tartget="_blank" href="<%= permalink %>">Permalink</a>
      <a class="play" href="/tracks/<%= id %>">Play! :)</a>
      <a class="destroy">Delete Track</a>
    </article>
  </script>

  <script src="js/playlist.js"></script>
  <script src="js/track.js"></script>
  <script src="js/frappcloud.js"></script>
  <script>
    var frapp = new FrappCloud;
  
    SC.initialize({
      client_id: "6b31723478aaf7f7358de19cf38334d6"
    });
    SC.get('/tracks', { q: 'coldplay' }, function(tracks) {
      for (var i=0, l=tracks.length; i<l; i++) {
        console.log(tracks[i])
      }
    });
    // SC.stream("/tracks/48907624", function(sound){
    //   sound.play();
    // });
  </script>
</body>
</html>